.player {
  width: 32;
  height: 32;
  background-color: #ADD8E6;
  opacity: 255;
}

.ball {
  width: 32;
  height: 32;
  background-color: #808080;
  opacity: 255;
}

.obstacle {
  width: 32;
  height: 32;
  background-color: #808080;
  opacity: 255;
}

.wall_h {
  width: 128;
  height: 32;
  background-color: #8B4513;
  opacity: 255;
}

.wall_v {
  width: 32;
  height: 64;
  background-color: #8B4513;
  opacity: 255;
}

.text {
  font-color: #FFFFFF;
  font-size: 24;
  opacity: 255;
}

.title {
  font-color: #FFFF00;
  font-size: 36;
  opacity: 255;
}

.button {
  width: 250;
  height: 40;
  background-color: #444444;
  border-color: #A020F0;
  border-width: 2;
  hover-color: #666666;
  padding: 4 8;
  margin: 2;
  font-color: #FFFFFF;
  font-size: 18;
  font-hover-color: #FFFF00;
}
